.THIS .ButtonDiv {
    padding: 1.3rem;
}
.THIS .ButtonCss{
	background-color: white;
	color: black;
	border: 2px solid Blue; /* Green */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.THIS .ButtonCss:hover{
    background-color: blue; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.THIS .SelectedRows {
    padding: 1.3rem;
}
.THIS.HeaderBox{
	background-color:white; 
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px
}